<div style="padding:0">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label class="search-title" class="wt7" style="margin-right:1rem;">테마지도 명</label>
                <input class="form-control" type="text" style="width:45em; margin-right:1rem;">
                <button class="btn btn-inverse">지도보기</button> 
            </div>
            <div class="form-group">
                <label class="search-title" class="wt7" style="margin-right:1rem;">이미지</label>
                <input class="form-control" type="text" style="width:45em; margin-right:1rem;" >
                <button class="btn btn-info" style="margin-right:1rem;">파일검색</button>
                <button class="btn btn-danger" style="margin-right:1rem;">파일삭제</button>
                <button class="btn btn-inverse">미리보기</button>
            </div>
            <div class="form-group">
                <label for="typeahead-basic" class="wt8">사용여부</label>
                <select class="form-control wt8" > <!-- [(ngModel)]="org_no"-->
                    <option  value="">전체</option> <!-- *ngIf="loginSession.isAdmin()"-->
                    <option *ngFor="let item of orgList" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="typeahead-basic" class="wt8">내용</label>
                <input type="checkbox" >
                <a style="margin-right:1rem;"> URL 사용 </a>
                <input class="form-control" type="text" style="width:45em; margin-right:1rem;">
                <button class="btn btn-inverse">웹페이지보기</button>
            </div>
            <div class="form-group">
              에디터가 왜안나오지
                <itsm-ckeditor (onLoad)="OnEditorLoaded()" name="ckedit" #ck [ngStyle]="{'display': selectedEditor != 0 ? 'none' : 'block'}" [(ngModel)]="messageEditor"
                [language]="'ko'" required #ckedit="ngModel"></itsm-ckeditor>
            </div>
            <div class="form-group">
                <label class="search-title" class="wt7" style="margin-right:1rem;">링크 URL</label>
                <input class="form-control" type="text" style="width:60em; margin-right:1rem;">
            </div>
            <div class="form-group">
                <label class="search-title" class="wt7" style="margin-right:1rem;">지도 구성</label>
                <button class="btn btn-info" style="margin-right:1rem;">장소 편집</button>
            </div>
  
            <div class="table-responsive list-table"> 
                <table class="table">
                    <colgroup>
                        <col width="10%">
                        <col width="75%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="noLLine">No</th>
                            <th>위치 명칭</th>
                            <th>분류</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="highlight" style="text-align: center">
                            <td class="noLLine">1</td>
                            <td >2</td>
                            <td >3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
    
  </div>